.content {
    width: 70%;
    margin: 60px auto 0 auto;
    padding-bottom: 60px;
}

.page_title {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 36px;
}

.page_title::before {
    content: "";
    width: 6px;
    height: 26px;
    background-color: #000;
    margin-right: 10px;
}

.table_div {
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px 0px 6px;
    box-sizing: border-box;
}

.attendance_table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.thead_tr {
    font-size: 15px;
    text-align: center;
    color: #737373;
    border-bottom: 1.5px solid #e1e1e1;
}

.name_th {
    font-weight: 500;
    width: 35%;
    padding: 14px 0 16px 60px;
}

.email_th {
    font-weight: 500;
    width: 40%;
    padding-bottom: 16px;
}

.detail_th {
    font-weight: 500;
    width: 25%;
    padding: 14px 60px 16px 0;
}

.tbody_tr {
    font-size: 15px;
    text-align: center;
    color: #737373;
    border-bottom: 1px solid #e1e1e1;
}

.tbody_tr:last-child {
    border-bottom: none;
}

.name_td {
    width: 35%;
    padding: 12px 0 12px 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email_td {
    width: 40%;
    padding: 12px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail_td {
    font-weight: 600;
    width: 25%;
    padding: 12px 60px 12px 0;
}

.detail_button {
    font-size: 15px;
    color: #000;
    text-decoration: none;
    background-color: #fff;
}

@media screen and (max-width: 1024px) {
    .page_title {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .page_title::before {
        width: 4px;
        height: 22px;
        margin-right: 8px;
    }

    .table_div {
        padding: 5px 0px 6px;
    }

    .thead_tr {
        font-size: 13px;
    }

    .name_th {
        padding-left: 40px;
    }

    .detail_th {
        padding-right: 40px;
    }

    .tbody_tr {
        font-size: 13px;
    }

    .name_td {
        padding-left: 40px;
    }

    .detail_td {
        padding-right: 40px;
    }

    .detail_button {
        font-size: 13px;
    }
}